body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2 {
    color: #d36dcec2;
}

.file-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.custom-file-upload {
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    text-align: center;
}

.custom-file-upload span {
    margin-right: 10px;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

.action-button {
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px; /* Espacement entre les boutons */
}

.action-button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    padding: 12px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
